.btn {
    display: inline-block;
    background-color: $orange-base;
    margin: 0 10px 5px 0;
    border: 1px solid $orange-base;
    border-radius: 4px;
    padding: 10px 16px;
    font-size: $font-size-default;
    color: $white;
    text-decoration: none;
    text-align: center;
    line-height: 18px;

    &:hover {
        background-color: $orange-dark;
        border: 1px solid $orange-dark;
        text-decoration: none;
      }
}